#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/libexec/pop3d-ssl.rc"

. /etc/rc.d/rc.subr

pexp=".*courierlogger.*pop3d-ssl.pid"

rc_start() {
	${rcexec} "${daemon} start"
}

rc_stop() {
	${daemon} stop
}

rc_cmd $1
