#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/sbin/zeya"
daemon_flags="--path=/var/tmp"
daemon_user="_zeya"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_bg=YES
rc_reload=NO

rc_cmd $1
