#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/sbin/spectrumctl"

. /etc/rc.d/rc.subr

rc_start() {
	${rcexec} "${daemon} start"
}
rc_stop() {
	${daemon} stop
}
rc_reload() {
	${daemon} reload
}

rc_cmd $1
