#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/bin/zarafa-server"

. /etc/rc.d/rc.subr

rc_pre() {
	i=0
	while [ $i -lt 10 ]; do
		${LOCALBASE}/bin/mysqladmin -s ping && break
		sleep 1
		i=$((i+1))
	done
}

rc_cmd $1
